.flex {
    display: flex;
    align-items: center;
}
.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fd {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fdc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    transition: 300ms;
}


.za-loading__container {
    width: 8rem !important;
    height: 8rem !important;
}

.font-12 {
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}

body[theme-mode="dark"] {
    background: var(--semi-color-nav-bg);
}

body[theme-mode="dark"] .semi-portal * {
    color: #fff !important;
}

.semi-portal .semi-page-rest-item:hover,
.semi-button-with-icon-only:hover {
    background: var(--bd-color);
}



ul,
li,
div,
body,
html,
span,
p {
    margin: 0;
    padding: 0;
}

#root,
body,
html,
.App {
    width: 100%;
    height: 100%;
}


li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.loadingBox {
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingBox .box-text {
    color: #fff;
    /* // font-size: 1.2rem; */
    margin-top: 1.2rem;
}

.semi-layout {
    border: none !important;
}

.semi-datepicker-day-today .semi-datepicker-day-main {
    /* background: none !important; */
    opacity: 0.7;
    color: #fff !important;
}

.semi-datepicker-day-selected-end .semi-datepicker-day-main {
    opacity: 1;
}