.sss {

    .item {
        position: relative;
        margin-right: 8px;
        // left: -40px;

        .img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}