html {
    --text-color: #002237;
    --sub-text-color: #657795;
    --act-text-color: #2973FF;
    --bd-color: linear-gradient(90deg, #7650FF 0%, #2973FF 100%);
    --bg-color: rgb(238, 238, 238);
    // --semi-color-primary-light-default: var(--semi-color-primary-light-default);
}


.title {
    font-size: 20px;
}


.hover {
    cursor: pointer;

    &:hover {
        background: #eee;
    }
}

img {
    border-radius: 8px;
}

iframe {
    z-index: -99999 !important;
    left: -999999px !important;
}